@import url("~@/styles/mixin.less");

.item-card-wrap {
  padding: 16px 8px 16px;
  &:focus {
    background: fade(#d9d9d9, 20%);
  }
  .title-wrap {
    position: relative;
    .is-done {
      text-decoration: line-through;
    }
    .item-title {
      font-size: @font-size-3;
      font-weight: 700;
      padding: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .btnBar {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      .add-item-btn {
        .wh(20px);
      }
      > div {
        cursor: pointer;
      }
    }
  }
}
