.positionCenter() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/** flex布局 */
.flex(@align-items: center, @flex-direction: row, @justify-content: space-between) {
  display: flex;
  flex-direction: @flex-direction;
  align-items: @align-items;
  justify-content: @justify-content;
}

/** 宽高 */
.wh(@width, @height: @width) {
  width: @width;
  height: @height;
}

/** 滚动条样式 */
// 该特性是非标准的
.changeContainerScrollbar(@display: block, @scrollbarSize: 7px, @scrollbarThumbBg: #c1c1c1, @scrollbarThumbRadius: 20px, @scrollbarTrackPiece: transparent) {
  // 滚动条整体样式，宽高分别对应横竖滚动条的尺寸
  &::-webkit-scrollbar {
    display: @display;
    width: @scrollbarSize;
    height: @scrollbarSize;
  }
  // 滚动条上的滑块
  &::-webkit-scrollbar-thumb {
    outline: none;
    background: @scrollbarThumbBg;
    border-radius: @scrollbarThumbRadius;
  }
  // 滚动条轨道样式
  &::-webkit-scrollbar-track-piece {
    background: @scrollbarTrackPiece;
  }
}
