@import url("~@/styles/mixin.less");

.document-wrap {
  width: 100%;
  .title-bar {
    .flex();
    width: 100%;
    padding: 8px 16px 16px;
    height: 64px;
    .title {
      font-size: @font-size-2;
      font-weight: 700;
    }
    .title-right-bar {
      display: flex;
      flex-direction: row;
      svg {
        margin-left: 16px;
        font-size: 20px;
        opacity: .7;
        cursor: pointer;
        &:hover {
          opacity: 1;
          color: @primary-color;
        }
      }
    }
  }
  .document-content-wrap {
    height: calc(@content-height - 64px);
    padding: 0 @space-md @space-md;
    overflow-y: scroll;
    .changeContainerScrollbar();
  }
}
